 {% extends 'base.html'%} {% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %} {% block content %}

<body>
    <br>

    <div class="container">
        <h1 class="text-center fs-1 fw-bold">SiR FELIX Pitches HubSpot</h1>
        <h3 class="text-center fs-3">In this application you will be able to add your pitches and other user will have a chance to view it and comment to on it as they vote on it too and the pitches are categorized in different field.</h3>
    </div>
    <hr>
    <br> <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-header fs-1 fw-bold text-center">Inspirational Hub</div>
                    <div class="card-body">
                        <h5 class="card-title fs-3 text-center"> <strong>Inspirational Pitches </strong> <br><br> Are you low? Do not worry you gonna inspired.</h5>
                        <hr>
                        <button type="button" class="btn btn-outline-secondary btn-lg"><a href="../pitch/">Drop Pitch :::</a></button>
                        <button type="button" class="btn btn-outline-secondary btn-lg"><a href="/categories/inspiration">Review Pitches ::</a></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-header fs-1 fw-bold text-center">LoVe Spots</div>
                    <div class="card-body">
                        <h5 class="card-title fs-3 text-center"> <strong>LoVe Pitches</strong> <br> <br>Live, Love and Laugh to Make your soul happy.</h5>
                        <hr>
                        <button type="button" class="btn btn-outline-secondary btn-lg"><a href="../pitch/">Drop Pitch :::</a></button>
                        <button type="button" class="btn btn-outline-secondary btn-lg"><a href="/categories/life">Review Pitches ::</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-header fs-1 fw-bold text-center">Memes Hub</div>
                    <div class="card-body">
                        <h5 class="card-title fs-3 text-center"> <strong>Memes Pitches</strong> <br> <br>Live, Love and Laugh to Make your soul happy.</h5>
                        <hr>
                        <button type="button" class="btn btn-outline-secondary btn-lg"><a href="../pitch/">Drop Pitch :::</a></button>
                        <button type="button" class="btn btn-outline-secondary btn-lg"><a href="/categories/coding">Review Pitches ::</a></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header fs-1 fw-bold text-center">Pick-Ups</div>
                    <div class="card-body text-center">
                        <h5 class="card-title fs-3 text-center"> <strong>Pick-Up Pitches</strong> <br> <br>You Want to win her/him heart??</h5>
                        <hr>
                        <button type="button" class="btn btn-outline-secondary btn-lg"><a href="../pitch/">Drop Pitch :::</a></button>
                        <button type="button" class="btn btn-outline-secondary btn-lg"><a href="/categories/pickup_lines">Review Pitches ::</a></button>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
    </div>
    {% endblock%}
</body>