{% extends 'base.html'%} {% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %} {% block content %}

<body>
    <br>
    <div class="d-flex justify-content-center">
        <div class="card-groups">
            <div class="card border-info mb-3" style="max-width: 40rem;">
                <div class="card-header">Inspirational Hub</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Inspirational Pitches</h5>
                    <p class="card-text">You want to be inspired???</p>
                    <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Pitch</a></button>
                    <button type="button" class="btn btn-outline-primary"><a href="/category/Inspiration">Read Pitches</a></button>
                </div>
            </div>

            <div class="card border-info mb-3" style="max-width: 35rem;">
                <div class="card-header">Pickup Hub
                </div>
                <div class="card-body text-info">
                    <h5 class="card-title">Pickup Lines Pitches</h5>
                    <p class="card-text">You Want to win her/him heart??????</p>
                    <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Pitch</a></button>
                    <button type="button" class="btn btn-outline-primary"><a href="/category/Pickup_lines">Read Pitches</a></button>
                </div>
            </div>

            <div class="card border-info mb-3" style="max-width: 35rem;">
                <div class="card-header">Memes Hub</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Memes Pitches</h5>
                    <p class="card-text">Make your soul happy!!!!!!!</p>
                    <button type="button" class="btn btn-outline-primary"><a href="../pitch/">Add Pitch</a></button>
                    <button type="button" class="btn btn-outline-primary"><a href="/category/Memes">Read Pitches</a></button>
                </div>
            </div>

        </div>
    </div>

    {% endblock%}
</body>